Repository LTDM-Team/Tanks, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, Unity

.github/labeler.yml:

C#:
  - '**/*.cs'
  - '**/*.sln'
  - '**/*.csproj'
Unity:
  - any: ['**/*.meta', '!**/*.cs.meta']
  - '**/*.asset'
  - '**/*.unity'

Huge changes in jopa (:
  Tanks/Assets/Scripts/Jopa.cs
Labels: C#

Fix huge jopa
  Tanks/Assets/Scripts/Jopa.cs
Labels: C#

Update square color
  Tanks/Assets/Scenes/Game.unity
Labels: Unity

Added NewTestScript
  Tanks/Assets/Scripts/NewTestScript.cs
  Tanks/Assets/Scripts/NewTestScript.cs.meta
Labels: C#

Update NewTestScript.cs
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

Update NewTestScript.cs
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

Update Bruh.cs
  Tanks/Assets/Scripts/Bruh.cs
Labels: C#

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Добавлен TelegramBridge
  .github/workflows/TelegramBridge.yaml
Labels: none

Update NewTestScript.cs
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

Create .restyled.yaml
  .restyled.yaml
Labels: none

Added papa carla
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

Delete .restyled.yaml
  .restyled.yaml
Labels: none

Update NewTestScript.cs
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

Change gitignore
  .gitignore
  .restyled.yaml
Labels: none

Delete StyleCop.Cache
  Tanks/StyleCop.Cache
Labels: none

Update NewTestScript.cs
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

Copy Settings.StyleCop to root
  Settings.StyleCop
Labels: none

Update Settings.StyleCop
  Settings.StyleCop
  Tanks/Settings.StyleCop
Labels: none

Update Settings.StyleCop
  Settings.StyleCop
Labels: none

Update Settings.StyleCop
  Settings.StyleCop
Labels: none

Update Settings.StyleCop
  Settings.StyleCop
Labels: none

Update Settings.StyleCop
  Settings.StyleCop
Labels: none

Update Settings.StyleCop
  Settings.StyleCop
Labels: none

Fix code style
  Tanks/Assets/Scripts/Bruh.cs
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

Fix codestyle
  Tanks/Assets/Scripts/Bruh.cs
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

Update Settings.StyleCop
  Settings.StyleCop
Labels: none

Update Settings.StyleCop
  Settings.StyleCop
Labels: none

Update Settings.StyleCop
  Settings.StyleCop
Labels: none

Create .cfduplication.yml
  .cfduplication.yml
Labels: none

Update NewTestScript.cs
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

Update NewTestScript.cs
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

Update NewTestScript.cs
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

Update Settings.StyleCop
  Settings.StyleCop
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

Update NewTestScript.cs
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

Update .cfduplication.yml
  .cfduplication.yml
Labels: none

Update NewTestScript.cs
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

Update NewTestScript.cs
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#
