Repository LTDM-Team/Tanks, pull requests merged in 2021-04, with the labels that each got.

#3 I realese bruh!
  Tanks/Assets/Scripts/Bruh.cs
  Tanks/Assets/Scripts/Bruh.cs.meta
Labels: C#, Unity

#4 Add some bruh!
  Tanks/Assets/Scripts/Bruh.cs
Labels: C#, Unity

#6 Добавлен функционал для Bruh скрипта
  Tanks/Assets/Scripts/Bruh.cs
Labels: C#, Unity

#13 Update Bruh.cs
  Tanks/Assets/Scripts/Bruh.cs
Labels: C#, Unity

#20 Update Jopa.cs
  Tanks/Assets/Scripts/Jopa.cs
Labels: C#

#23 Update Jopa.cs
  Tanks/Assets/Scripts/Jopa.cs
Labels: C#

#28 Update Jopa.cs
  Tanks/Assets/Scripts/Jopa.cs
Labels: C#

#29 Huge changes in jopa (:
  Tanks/Assets/Scripts/Jopa.cs
Labels: C#

#30 Update square color
  Tanks/Assets/Scenes/Game.unity
Labels: Unity

#31 Added NewTestScript
  Tanks/Assets/Scripts/NewTestScript.cs
  Tanks/Assets/Scripts/NewTestScript.cs.meta
Labels: C#

#32 Update NewTestScript.cs
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

#34 Update Bruh.cs
  Tanks/Assets/Scripts/Bruh.cs
Labels: C#

#35 Update NewTestScript.cs
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

#36 Added papa carla
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

#38 Update NewTestScript.cs
  Settings.StyleCop
  Tanks/Assets/Scripts/Bruh.cs
  Tanks/Assets/Scripts/NewTestScript.cs
  Tanks/Settings.StyleCop
Labels: C#

#39 Update NewTestScript.cs
  Settings.StyleCop
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

#41 Refactor code
  Tanks/Assets/Scripts/Bruh.cs
  Tanks/Assets/Scripts/NewTestScript.cs
Labels: C#

#42 Update InitScript.cs
  Tanks/Assets/Scripts/InitScript.cs
Labels: C#

#43 Обновлён Unity, обновлены пакеты
  Tanks/Packages/manifest.json
  Tanks/Packages/packages-lock.json
  Tanks/ProjectSettings/ProjectVersion.txt
Labels: Unity

#45 Удалены Bruh скрипты
  Tanks/Assets/Scripts/Bruh.cs
  Tanks/Assets/Scripts/Bruh.cs.meta
  Tanks/Assets/Scripts/InitScript.cs
  Tanks/Assets/Scripts/InitScript.cs.meta
  Tanks/Assets/Scripts/Jopa.cs
  Tanks/Assets/Scripts/Jopa.cs.meta
  Tanks/Assets/Scripts/NewTestScript.cs
  Tanks/Assets/Scripts/NewTestScript.cs.meta
Labels: C#, Unity
